@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
    min-height: 100vh;
    background-color: black;
    color: white;
}

.header-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}


/* MAIN MENU  */

.main-menu {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logotipo {
    width: 115px;
}

.menu-link-desktop,
.menu-link-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-link-mobile {
    display: none;
}

.links-menu {
    padding: 0 1rem;
    line-height: 70px;
    height: 70px;
    display: block;
    color: white;
    transition: .4s all ease-in-out;
}

.links-menu:hover:not(.cta-btn) {
    box-shadow: 0 -5px 0 0 white inset;
}

.cta-btn {
    font-weight: 700;
    background-color: #7FC80E;
    line-height: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    transition: .4s all ease-in-out;
}

.cta-btn:hover {
    transform: scale(.95);
}

/* MOBILE MENÚ */

@media only screen and (max-width: 820px) {
    .logotipo {
        text-align: center;
        margin: auto;
        padding: 1rem 0;
        width: 100%;
    }
    .logotipo img {
        position: relative;
        top: 5px;
    }
    .menu-link-desktop {
        display: none;
    }
    .menu-link-mobile {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: black;
        width: 100%;
        box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .links-menu {
        font-size: 18px;
    }
    .cta-btn {
        line-height: 35px;
        height: 35px;
    }
}


.main-tittle{
    color: white;
}

.contenedor{
    display: flex;
    flex-direction: column;
}